@import "tailwindcss";

:root {
  --navbar-bg: #ffffff;
  --bg-color: #fff;
  --text-color: #222;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

nav {
  background: var(--navbar-bg, var(--bg-color));
  color: var(--text-color);
}